body{
    background-color:rgb(42, 41, 41);
    overflow:hidden;
}
#canvas1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background-color: white;
}
#player-img , #background-img1 ,#enemy-img, #background-img2, #background-img3, #background-img4, #background-img5{
    visibility: hidden;
}
